<ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', root_path %></li>
    <li><%= link_to 'Order', root_path %></li>
    <li><%= link_to 'Gallery', root_path %></li>
    <li>
    <%= form_with url: "/site_search/search", method: :get do |form| %> 
    <%= form.label :query, "Search for:" %> 
    <%= form.text_field :query %> 
    <%= form.submit "Search" %> 
    <% end %>
    </li>
</ul>